@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding: 0;
    color: #efeded;
}

.landing-page {
    background-image: url('./images/landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    color: white;
    position: relative; 
}

.top-landing {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    border-radius: 5px; 
    padding: 10px; 
}

.landing-container {
    display: flex;
    align-items: center; 
}

.navbar-link {
    color: white; 
    margin-right: 20px; 
    text-decoration: none; 
    font-weight: bold; 
}

.navbar-link {
  border: 1px solid transparent; 
}

.main-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    max-width: 600px; 
    margin-top: 250px; 
    padding-left: 40px; 
    text-align: left; 
}

.welcome-container {
    margin-bottom: 20px;
    font-size: large;
    border-radius: 30px;
    padding: 9px;
}

.welcome-container h1 {
  font-weight: 700; 
  font-size: 2.5rem; 
}

.welcome-container p {
  font-weight: 600; 
  margin-top: 15px; 
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/landing.jpg');
  background-size: cover;
  background-position: center;
}

.login-container {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}


.login-container h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.login-container .form-group {
  margin-bottom: 20px;
}

.login-container .form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}

.login-container .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.login-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 30px;
}

.login-form-content {
  margin-left: 65px;
}

.login-button {
  width: 50%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 768px) {
  .login form {
      width: 300px;
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/landing.jpg');
  background-size: cover;
  background-position: center;
}

.signup-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.signup-container h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.signup-container .form-group {
  margin-bottom: 20px;
}

.signup-container .form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}

.signup-container .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.signup-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 15px;
}

.signup-container button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button:hover {
  background-color: #1565c0;
}

.signup-container .error, 
.signup-container .success {
  color: #d32f2f;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.signup-container .success {
  color: #388e3c;
}


.spinner-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 9999; 
  }
  .loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  }
  .loader::before,
  .loader::after {    
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #5319e6 92%, #0000);
  background: 
    var(--c) 50% 0, 
    var(--c) 50% 100%, 
    var(--c) 100% 50%, 
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
  }
  .loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
  }
  @keyframes l12 { 
  100% { transform: rotate(.5turn); }
  }

.top-navbar {
  background-color: #ffffff;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.top-navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-navbar ul li {
  margin: 0 15px;
}

.top-navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: medium;
  font-weight: 500;
  transition: color 0.3s ease;
}

.top-navbar ul li a:hover {
  color: #1565c0;
}

.side-nav {
  background-color: #F7EFE5;
  padding: 25px;
  width: 100px; 
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-x: hidden;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  z-index: 1000;
  border-radius: 10px;
}

.side-nav.collapsed {
  width: 0;
  opacity: 0;
  padding: 0; 
  overflow: hidden;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  align-items: stretch;
}

.side-nav ul li {
  margin: 20px 0;
}

.side-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: medium;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.side-nav ul li a:hover {
  color: #5e78ed;
}

.side-nav ul li a .fa-icon {
  margin-right: 10px;
}

.toggle-button {
  background-color: #F7EFE5;
  border: none;
  color: #333;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 110px;
  z-index: 1001;
}

.toggle-button.collapsed {
  left: 10px;
}

.title-container {
  margin-left: 140px; 
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.title-container h1 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

.title-container button {
  background-color: #1565c0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.title-container button:hover {
  background-color: #5e78ed;
}

.message-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #F7EFE5;
  padding: 10px;
}

.message-bar {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  height: 70vh;
  overflow-y: scroll;
}

.message-bar h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.message-bar .message-bar-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: background-color 0.3s ease;
}

.message-bar .message-bar-item:hover {
  background-color: #f9f9f9;
}

.message-bar .message-author {
  font-weight: bold;
  color: #674188;
  margin-bottom: 5px;
}

.message-bar .message-timestamp {
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 10px;
}

.message-bar .message-content {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.message-bar .message-bar-item.system-message {
  background-color: #e2bfd9;
  color: white;
}

.message-bar .message-bar-item.user-message {
  background-color: #f7efe5;
  color: #333;
}

.message-bar .message-bar-item.bot-message {
  background-color: #c8a1e0;
  color: white;
}

.message-bar .message-content a {
  color: #007bff;
  text-decoration: none;
}

.message-bar .message-content a:hover {
  text-decoration: underline;
}


.form-container {
  padding: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}

.form-container label {
  font-weight: bold;
  color: #333;
}

.form-container input[type="text"], .form-container textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: medium;
}

.form-container textarea {
  resize: vertical;
}

.form-container input[type="submit"] {
  background-color: #1565c0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

.form-container input[type="submit"]:hover {
  background-color: #5e78ed;
}

.explore-content {
  margin-left: 130px; 
  padding: 20px;
}

.explore-content h2 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.explore-content p {
  font-size: medium;
  color: #333;
  margin-bottom: 20px;
}

.explore-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.explore-card h3 {
  font-size: large;
  color: #333;
  margin-bottom: 10px;
}

.explore-card p {
  font-size: medium;
  color: #666;
}

.post-content {
  margin-left: 130px; 
  padding: 20px;
}

.post-content h2 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-content p {
  font-size: medium;
  color: #333;
  margin-bottom: 20px;
}

.post-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.post-card h3 {
  font-size: large;
  color: #333;
  margin-bottom: 10px;
}

.post-card p {
  font-size: medium;
  color: #666;
}
